{% extends "site/site.html" %}
{% load staticfiles %}
{% block WebTitle %}Tambahkan Antrian - {% endblock %}
{% block WebContent %}
<div class="well">
 <div class="container">
  <div class="row">
   <div class="col-md-offset-2 col-md-8">
    <div class="row">
     <div class="col-md-6 col-sm-6">
      <h1>Pilih Antrian</h1>
      <label class="radio">
       <input type="radio" name="queueCatRadios" id="queueCatRadios" value="1" checked="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span> Loket
      </label>
      <label class="radio">
       <input type="radio" name="queueCatRadios" id="queueCatRadios" value="2" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span> HelpDesk
      </label>
      <div class="text-center">
       <h1 style="font-family: 'DS-DIGITAL', Fallback, sans-serif;margin-top:0px;font-size: 10em;" id="OrderNumber">0</h1>
       <button id="postButton" name="postButton" class="btn btn-lg btn-primary">PRINT!</button>
      </div>
     </div>
     <div class="col-md-6 col-sm-6">
      <h1>Keterangan</h1>
      <ul>
       <li>Contoh</li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock	%}
{% block WebScript %}
<script type="text/javascript">
$(document).ready(function(){
 getOrderNumber($("input#queueCatRadios:checked").val());
 $("input#queueCatRadios").on("change", function(){
  getOrderNumber($(this).val());
 })
 function getOrderNumber(thisCat){
  $.ajax({
   type: "GET",
   url: "/queue/getordernumber/",
   data: "category="+thisCat,
   success: function(msg){
    if (thisCat == 1) {
     $("h1#OrderNumber").text(msg);
    } else if (thisCat == 2) {
     $("h1#OrderNumber").text(msg+"A");
    }
   }
  });
 }

 $("button#postButton").on("click", function(){
  $.ajax({
   type: "GET",
   url: "/queue/queue_add_post/",
   data: "queueCatRadios="+$("input#queueCatRadios:checked").val()+"&queueOrderNumber="+$("h1#OrderNumber").text()
  }).done(function(msg){
   alert(msg);
   getOrderNumber($("input#queueCatRadios:checked").val());
  })
 })
})
</script>
{% endblock %}